# Ignore specific file
deepspeech-0.9.3-models.pbmm
deepspeech-0.9.3-models.scorer

# Ignore files with a specific extension
*.env
.vscode
.pbmm
.mp4

# Ignore a directory and its contents
clips
trash
uploads
node_modules
logs
ffmpeg
recordings
models
encoding