<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <section id="menu">
        <div class="logo">
            <img id="user_img" src="" alt="/.blank_logo.jpg">
            <h3>DadTheGam3r</h3>
        </div>

        <div class="items">
            <li><i class="fa-solid fa-gauge"></i><a href="/">Dashboard</a></li>
            <li><i class="fa-solid fa-tv"></i><a href="#">Streams</a></li>
            <li><i class="fa-solid fa-clapperboard"></i><a href="#">Clips</a></li>
            <li><i class="fa-solid fa-list-ol"></i><a href="#">Queue</a></li>
        </div>
        <div class="progress-container">
            <div class="progress-bar-container">
                <div class="progress-bar"></div>
            </div>
            <div class="progress-container-details">
                <span id="percent"></span>
                <span id="storage"></span>
            </div>
        </div>
    </section>

    <div id="interface">
        <div class="navigation">
            <h2 id="welcome"></h2>
            <div class="notification-container">
                <div class="notification-bell">
                  <i class="fa fa-bell"></i>
                  <span class="notification-count">15</span>
                </div>
                <div class="notification-dropdown">
                  <ul class="notification-list">
                    <li class="notification-item">Notification 1</li>
                    <li class="notification-item">Notification 2</li>
                    <li class="notification-item">Notification 3</li>
                    <li class="notification-item">Notification 4</li>
                    <li class="notification-item">Notification 5</li>
                    <li class="notification-item">Notification 6</li>
                    <li class="notification-item">Notification 7</li>
                    <li class="notification-item">Notification 8</li>
                    <li class="notification-item">Notification 9</li>
                    <li class="notification-item">Notification 10</li>
                    <li class="notification-item">Notification 11</li>
                    <li class="notification-item">Notification 12</li>
                    <li class="notification-item">Notification 13</li>
                    <li class="notification-item">Notification 14</li>
                    <li class="notification-item">Notification 15</li>
                  </ul>
                </div>
              </div>
            <a class="settings-button" href="/settings">Settings</a>              
            <!-- <div class="settings-button">
                <a href="/settings">Settings</a>
            </div> -->
        </div>
        <div class="main-interface">
            <div class="latest-container">
                <div class="latest-clips-container">
                    <h3>Latest Streams</h3>
                    <div>
                        <div class="img-info-container">
                            <img src="/images/wz.jpg" alt="">
                            <div class="stream-info-container">
                                <span>May 9 2023</span>
                                <span>4h 26m 36s</span>
                            </div>
                        </div>
                        <span class="clips-number">10</span>
                    </div>
                </div>
                <div class="latest-streams-container">
                    <h3>Latest Streams</h3>
                    <div id="add-stream">
                        <i class="fa-solid fa-plus"></i>
                        <span>Add A Stream</span>
                    </div>
                    <div onclick="window.location='/setup';">
                        <div class="img-info-container">
                            <img src="/images/wz.jpg" alt="">
                            <div class="stream-info-container">
                                <span>May 9 2023</span>
                                <span>4h 26m 36s</span>
                            </div>
                        </div>
                        <span class="clips-number">10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/base.js"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>