<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clips Vault - Dahsboard</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="/css/dashboard.css" />
  <link rel="icon" href="/images/iconLogo.png" />
</head>

<body>
  <%- include('menu.ejs') %>
    <section>
      <div class="main-interface">
        <div class="latest-container">
          <h3>Latest Streams</h3>
          <div class="latest-streams-container">
            <a href="/addstream">
              <div class="stream" id="add-stream">
                <i class="fa-solid fa-plus"></i>
                <span>Add A Stream</span>
              </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/dashboard.js"></script>
    <script>
      let currentPageNumber = 1;
      const pageSize = 30;
      var currentPage = window.location.href;
      var menuLinks = document.getElementsByClassName('menu-link');
      for (var i = 0; i < menuLinks.length; i++) {
        var link = menuLinks[i];
        if (currentPage.includes('localhost') && link.textContent === 'Dashboard') {
          link.classList.add('selected');
        }
      }

      document.addEventListener('DOMContentLoaded', async () => {
        let currentPageNumber = 1;
        const pageSize = 10;
        loadMoreData();
      });

      window.onscroll = function () {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
          loadMoreData();
        }
      };

      function formatStreamLength(lengthInSeconds) {
        const hours = Math.floor(lengthInSeconds / 3600);
        const minutes = Math.floor((lengthInSeconds % 3600) / 60);
        const seconds = lengthInSeconds % 60;
        return `${hours}h ${minutes}m ${seconds}s`;
      }

      function loadMoreData() {
        fetch(`/api/streams?page=${currentPageNumber}&size=${pageSize}`)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            let clipsInterface = document.querySelector('.latest-streams-container');
            console.log(clipsInterface);
            data.forEach(video => {
              video.length = formatStreamLength(video.length);
              console.log(video);
              let streamElement = `
                    <a class="stream" href="/stream?streamId=${video._id}">
                      <div class="stream-img-container">
                        <img src="${video.background_img}" alt="" />
                        <span id="clips-amount">
                          ${video.videos.length}
                        </span>
                        <span id="stream-duration">
                          ${video.length}
                        </span>
                      </div>
                      <span id="game-title">
                        ${video.category}
                      </span>
                      <span id="stream-date">
                        ${video.date}
                      </span>
                    </a>`;
              clipsInterface.insertAdjacentHTML('beforeend', streamElement);
            });
            currentPageNumber++;
          });
      }
    </script>
</body>

</html>