<section>
    <div class="top-menu">
        <div class="left-section">
            <span class="menu-text">Clips Vault</span>
        </div>
        <div class="middle-section">
            <a href="/" class="menu-link">Dashboard</a>
            <a href="/allclips" class="menu-link">Clips</a>
            <a href="/queue" class="menu-link">Queue</a>
            <a href="settings" class="menu-link">Settings</a>
        </div>
        <div class="right-section">
            <div class="notification-container">
                <div class="notification-bell">
                    <i class="fa fa-bell"></i>
                    <span class="notification-count">15</span>
                </div>
                <ul class="notifications">
                    <li>Notification 1</li>
                    <li>Notification 2</li>
                    <li>Notification 3</li>
                </ul>
            </div>
            <div class="profile-settings">
                <% if (userData) { %>
                    <img src="<%= userData.profile_image_url %>" alt="" />
                    <% } else { %>
                        <img src="/images/blank_logo.jpg" alt="../public/images/blank_logo.jpg" />
                        <% } %>
            </div>
        </div>
    </div>
</section>
<script>
</script>