<section>
    <div class="top-menu">
        <div class="left-section">
            <span class="menu-text">Clips Vault</span>
        </div>
        <div class="middle-section">
            <a href="/" class="menu-link">Dashboard</a>
            <a href="/allclips" class="menu-link">Clips</a>
            <a href="/queue" class="menu-link">Queue</a>
            <a href="settings" class="menu-link">Settings</a>
        </div>
        <div class="right-section">
            <div class="notification-container">
                <div class="notification-bell">
                    <i class="fa fa-bell"></i>
                    <span class="notification-count"></span>
                </div>
                <ul class="notifications">
                    <button id="ack-btn">Acknowledge All</button>
                    <div class="notification-item">
                        <li class="noti">Some notification</li>
                        <div>
                            <span class="noti-date">6/5/2023</span>
                            <span class="noti-time">5:55PM</span>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="profile-settings">
                <% if (userData) { %>
                    <img src="<%= userData.profile_image_url %>" alt="" />
                    <% } else { %>
                        <img src="/images/blank_logo.jpg" alt="../public/images/blank_logo.jpg" />
                        <% } %>
            </div>
        </div>
    </div>
</section>
<script>
    const acknowledgeButton = document.getElementById('ack-btn');
    const notificationCount = document.querySelector('.notification-count');
    const notificationContainer = document.querySelector('.notification-container');
    const notifications = document.querySelector('.notifications');
    let hideTimeout;

    notificationContainer.addEventListener('mouseleave', () => {
        hideTimeout = setTimeout(() => {
            notifications.style.display = 'none';
        }, 1000);
    });

    notificationContainer.addEventListener('mouseenter', () => {
        notifications.style.display = 'flex';
        clearTimeout(hideTimeout);
    });

    function formatDate(dateString) {
        const options = { month: 'short', day: 'numeric', year: 'numeric' };
        const date = new Date(dateString);
        return date.toLocaleDateString(undefined, options);
    }

    function formatTime(timeString) {
        const options = { hour: 'numeric', minute: 'numeric' };
        const time = new Date(timeString);
        return time.toLocaleTimeString(undefined, options).replace(/\s/g, '').toUpperCase();
    }

    function createNotificationItem(notification) {
        const { _id, notification: text, read, date } = notification;
        const notificationItem = document.createElement('div');
        notificationItem.classList.add('notification-item');
        notificationItem.setAttribute('data-id', _id);
        const notificationElement = document.createElement('li');
        notificationElement.classList.add('noti');
        notificationElement.textContent = text;
        const notificationDateTime = document.createElement('div');
        const dateElement = document.createElement('span');
        dateElement.classList.add('noti-date');
        dateElement.textContent = formatDate(date);
        const timeElement = document.createElement('span');
        timeElement.classList.add('noti-time');
        timeElement.textContent = formatTime(date);
        notificationDateTime.appendChild(dateElement);
        notificationDateTime.appendChild(timeElement);
        if (read) {
            notificationElement.classList.add('read');
        }
        notificationItem.appendChild(notificationElement);
        notificationItem.appendChild(notificationDateTime);

        return notificationItem;
    }

    async function getNotifications() {
        fetch('/api/notifications')
            .then(response => response.json())
            .then(data => {
                const notificationsContainer = document.querySelector('.notifications');
                if (data.length > 0) {
                    notificationCount.textContent = data.length;
                    notificationCount.style.display = 'block';
                } else {
                    notificationCount.style.display = 'none';
                }

                data.forEach(notification => {
                    const notificationItem = createNotificationItem(notification);
                    notificationsContainer.appendChild(notificationItem);
                });
            })
            .catch(error => {
                console.error('Error fetching notifications:', error);
            });
    }

    window.addEventListener('load', () => {
        getNotifications();
    });
</script>