<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clips Vault - Dahsboard</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="/css/dashboard.css" />
  <link rel="icon" href="/images/iconLogo.png" />
</head>

<body>
  <%- include('menu.ejs') %>
    <section>
      <div class="main-interface">
      </div>
    </section>
    <script src="/js/dashboard.js"></script>
    <script>
      var currentPage = window.location.href;
      var menuLinks = document.getElementsByClassName('menu-link');
      for (var i = 0; i < menuLinks.length; i++) {
        var link = menuLinks[i];
        if (currentPage.includes('Queue') && link.textContent === 'Queue') {
          link.classList.add('selected');
        }
      }
    </script>
</body>

</html>