.main-interface {
    padding: 10px;
}

.clips-interface {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 350px;
}

.clip {
    flex: 0 0 25%;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden;
    z-index: 50;
}

.video-container {
    position: relative;
}

.clip-image {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 80px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    opacity: 0.9;
    transition: opacity 0.2s;
}

.clip-duration {
    position: absolute;
    bottom: 15px;
    right: 5px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.6;
}

.clip:hover .clip-image {
    opacity: 0;
}

video {
    width: 100%;
    height: auto;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    animation: slideIn 0.25s ease-in;
    max-width: 25vh;
    min-width: 25vh;
    color: black;
    border-radius: 5px;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.tags-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.tags-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
    gap: 5px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 5px;
    min-height: 8vh;
    max-height: 8vh;
    height: 8vh;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    color: black;
    overflow-y: auto;
}

.tag-list::-webkit-scrollbar {
    width: 0.5em;
}

.tag-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.tag-list::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 5px;
}

.tags-list span {
    background-color: #272aff;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: .8rem;
}

.tags-list span i {
    margin-left: 5px;
    cursor: pointer;
}

.tags-list span:hover {
    background-color: #1e1e1e;
}

.tag-search-input {
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    display: flex;
    position: relative;
}

.tag-search-input i {
    margin-top: 5px;
    color: black;
    font-size: 1.2rem;
    margin-right: .5vh;
}

.fa-chevron-down {
    cursor: pointer;
    z-index: 1;
}

.tag-search-input input {
    border: none;
    background-color: #e9e9e9;
    color: black;
    font-size: 1rem;
    border-radius: 5px;
}

.tag-search-input input:focus {
    outline: none;
}

.category-dropdown-menu.show {
    display: flex;
}

.rotate {
    transform: rotate(180deg);
}

.category-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.category-dropdown {
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}

.category-dropdown-selector {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#category-down {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
}

.category-dropdown-menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 5px;
    z-index: 1;
}

.category-dropdown-menu li {
    color: black;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    width: 100%;
}

.category-dropdown-menu li:hover {
    background-color: #1e1e1e;
    color: white;
}

.date-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.date-search label {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: none;
}

.date-search input {
    border: none;
    background-color: #e9e9e9;
    color: rgb(2, 2, 2);
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.toggle-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: #e9e9e9;
}

#time-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: #e9e9e9;
    width: 100%;
}

#time-filter input[type="text"] {
    border: none;
    background-color: #e9e9e9;
    color: rgb(2, 2, 2);
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

select {
    border: none;
    background-color: #e9e9e9;
    color: rgb(2, 2, 2);
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}