.latest-container {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.latest-container h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.latest-streams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  max-width: 100%;
  gap: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

#add-stream {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 20.75vh;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  outline: 2px solid rgb(94, 94, 94);
}

#add-stream:hover {
  background-color: #f0f0f0;
  outline-color: #f0f0f0;
  transform: scale(1.02);
  color: #333;
}

.stream {
  position: relative;
  display: flex;
  flex: 0 0 15vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 15vh;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
}

.stream:hover {
  transform: scale(1.05);
}

.stream-img-container {
  position: relative;
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.stream-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#stream-duration {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  min-width: 35px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0, 0.5);
  padding: 5px;
  z-index: 1;
  transition: bottom 0.2s;
}

#game-title {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: 100%;
  flex-grow: 1;
  /* min-height: 3.2em; */
  text-align: center; 
}

#stream-date {
  font-size: 12px;
  text-align: center; 
  color: rgb(124, 124, 124);
  max-width: 175px;
  width: 100%;
}


#clips-amount {
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 35px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  opacity: .8;
}