.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin: 10px;
    gap: 1em;
}

.main-interface h1 {
    margin-left: 32px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.settings {
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    padding: 20px;
    border-radius: 5px;
}

.settings-container div:nth-child(2) div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings-container div:nth-child(5) div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.settings-container div:nth-child(2) form button {
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 5px;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX( -50% );
}

.settings form input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}


#connection-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

#connection-links a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#connect-with-twitch {
    background-color: #9147ff;
}

#connect-with-twitch:hover {
    background-color: #6e2dff;
}

#connect-to-youtube {
    background-color: #ff0000;
}
  
#connect-to-youtube:hover {
    background-color: #cc0000;
}

.discord-join {
    background-color: #7289DA;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-height: 200px;
  }
  
.discord-join h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.discord-join p {
    font-size: 16px;
    margin-bottom: 20px;
}
  
.discord-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #7289DA;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
  
.discord-button:hover {
    background-color: #f5f5f5;
}

.twitch-follow {
    background-color: #9146FF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-height: 200px;
    display: flex;
    flex-direction: row;
}
  
.twitch-follow .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
.twitch-follow h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.twitch-follow p {
    font-size: 16px;
    margin-bottom: 20px;
}
  
.twitch-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #9146FF;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
  
.twitch-button:hover {
    background-color: #f5f5f5;
}

.twitter-follow {
    background-color: #1DA1F2;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
  
.twitter-follow h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.twitter-follow p {
    font-size: 16px;
    margin-bottom: 20px;
}
  
.twitter-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #1DA1F2;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
  
.twitter-button:hover {
    background-color: #f5f5f5;
}

.buy-me-a-coffee {
    background-color: #FFDD00;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .buy-me-a-coffee h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .buy-me-a-coffee p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
.coffee-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
  
.coffee-button:hover {
    background-color: #333333;
}

.youtube-subscribe {
    background-color: #FF0000;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
  
.youtube-subscribe h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.youtube-subscribe p {
    font-size: 16px;
    margin-bottom: 20px;
}
  
.youtube-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #FF0000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
  
.youtube-button:hover {
    background-color: #f5f5f5;
}

.settings span {
    color: rgb(134, 141, 151);
}

.notification-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
}


.notification-toggle div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.notification-toggle form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.notification-toggle form button {
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 5px;
    border: 0;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX( -50% );
    max-width: 150px;
}

.notification-toggle div {
    display: flex;
    flex-direction: row;
}
  
.toggle-label {
    margin-right: 10px;
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
}
  
.switch input {
    display: none;
}
  
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.notification-form {
    margin-top: 10px;
}
  
.notification-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  