.stream-info-container {
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
}

.stream-info-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://static-cdn.jtvnw.net/ttv-boxart/512710-1360x1900.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
}

.stream-info-container::before {
    backdrop-filter: blur(2px);
}

.stream-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    z-index: 1;
}

.my-input {
    color: white;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    outline: none;
    background-color: transparent;
}

/* Additional styles for the other elements within stream-info-container */
.stream-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.stream-info .stream-details {
    margin-bottom: 10px;
}

.stream-info .stream-tags {
    margin-bottom: 10px;
}

.stream-info .stream-actions {
    margin-top: 20px;
}

.stream-info .stream-tags h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.stream-info .tag-list span {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #3755ff;
    padding: 5px;
    border-radius: 5px;
}

.stream-info .tag-list span i {
    margin-left: 5px;
    cursor: pointer;
}

.stream-info .tag-form {
    margin-top: 10px;
}

.stream-info .tag-form input[type="text"],
.stream-info .tag-form button {
    height: 30px;
    margin-right: 5px;
}

.stream-info #delete-stream {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}